//colors
$white_60: rgba(255, 255, 255, 0.6);
$white_100: rgba(255, 255, 255, 1);
$black_15: rgba(0, 0, 0, 0.15);
$white: #fff;
$black_30: rgba(0, 0, 0, 0.3);
$white_30: rgba(255, 255, 255, 0.3);

.root {
	float: right;
	margin: 6px 0 0;
}
.link {
	display: inline-block;
	padding: 3px 8px;
	text-decoration: none;
	font-size: 1.125em;
	color: $white_60;
	&:active {
		color: $white_60;
	}
	&:visited {
		color: $white_60;
	}
	&:hover {
		color: $white_100;
	}
}
.highlight {
	margin-right: 8px;
	margin-left: 8px;
	//Instead of the line below you could use @include border-radius($radius, $vertical-radius)
	border-radius: 3px;
	background: $black_15;
	color: $white;
	&:hover {
		background: $black_30;
	}
}
.spacer {
	color: $white_30;
}
